# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.env

# Django stuff
*.sqlite3
db.sqlite3
*.log
media/
staticfiles/

# VS Code settings
.vscode/

# Mac / Linux
.DS_Store
*.swp
